.App {
  font-family: 'Roboto', sans-serif;
}

.App-header {
  background-color: #222;
  padding: 20px;
}


/* Login form and register form */

.SignupForm, .LoginForm {
  margin-top: 40px;
}

h2 {
  text-align: center;
}

input[type=text], input[type=password] {
  height: 60px;
  padding: 20px;
}

#login-signup-button {
  height: 60px;
}

/* stackoverflow content style below */

.stackoverflow-content {
  margin: 3em;
}

.statscontainer {
  text-align: center;
}

.question-summary {
	border-left: 5px solid #f48024;
	margin: 20px;
	padding: 10px;
	background-color: #fcf8f1;
}
